In [52]:
import pandas as pd
import numpy as np

In [53]:
import requests
url='https://lazyprogrammer.me/course_files/nlp/tmdb_5000_movies.csv'
r=requests.get(url,allow_redirects=True)
from io import StringIO
data=StringIO(r.text)

df=pd.read_csv(data)
df.head(4)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâs past sends him...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106

In [54]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [55]:
df.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [56]:
eval(df.genres[0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [57]:
eval(df.genres[0])[0]['name']

'Action'

In [58]:


for i in range (0,len(df)):
    x=[]
    for j in range(0,len(eval(df.genres[i]))):
        x.append(eval(df.genres[i])[j]['name'])

In [59]:
x

['Documentary']

In [60]:
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
        
    return L

In [61]:
df['genres']=df['genres'].apply(convert)

In [62]:
df['keywords']=df['keywords'].apply(convert)

In [63]:
df.drop(['homepage','id','original_language','status','spoken_languages','runtime','revenue','release_date','production_companies','production_countries','vote_count','vote_average','original_title','popularity','budget'],axis=1,inplace=True)

In [69]:
df.head(5)

,genres,keywords,overview,tagline,title,tag
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']['ocean', 'd..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâs past sends him...,A Plan No One Escapes,Spectre,"['Action', 'Adventure', 'Crime']['spy', 'based..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Legend Ends,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']['dc c..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","Lost in our world, found in another.",John Carter,"['Action', 'Adventure', 'Science Fiction']['ba..."

In [68]:
df['tag']=df['genres'].astype(str)+df['keywords'].astype(str)+df['overview'].astype(str)+df['tagline'].astype(str)

In [70]:
df.drop(['genres','keywords','overview','tagline'],axis=1,inplace=True)

In [71]:
df.head(5)

,title,tag
0,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi..."
1,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']['ocean', 'd..."
2,Spectre,"['Action', 'Adventure', 'Crime']['spy', 'based..."
3,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']['dc c..."
4,John Carter,"['Action', 'Adventure', 'Science Fiction']['ba..."

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity,euclidean_distances

In [77]:
df['tag'][0]

"['Action', 'Adventure', 'Fantasy', 'Science Fiction']['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d']In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.Enter the World of Pandora."

In [79]:
vectorizer = TfidfVectorizer()

In [83]:
x=vectorizer.fit_transform(df['tag'])

In [84]:
print(x.shape)

(4803, 24162)

In [88]:
cosine_similarity(x[2],x[4])

array([[0.03375395]])