### text classifier

In [84]:
import pandas as pd
import numpy as np

In [85]:
import urllib.request
url = 'https://raw.githubusercontent.com/lazyprogrammer/machine_learning_examples/master/hmm_class/edgar_allan_poe.txt'
filename = 'f1.txt'
urllib.request.urlretrieve(url, filename)

import urllib.request
url = 'https://raw.githubusercontent.com/lazyprogrammer/machine_learning_examples/master/hmm_class/robert_frost.txt'
filename = 'f2.txt'
urllib.request.urlretrieve(url, filename)

('f2.txt', <http.client.HTTPMessage at 0x1b3855fae60>)

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [87]:
import nltk
from nltk import word_tokenize
from nltk.corpus import wordnet

In [88]:
f1=pd.read_table('f1.txt',header=None)
f2=pd.read_table('f2.txt',header=None)

In [89]:
f1=pd.DataFrame(f1)
f2=pd.DataFrame(f2)

In [90]:
f1['label']=0
f2['label']=1

In [91]:
input_files=pd.concat([f1, f2])
input_files

                                                      0  label
0                LO! Death hath rear'd himself a throne      0
1                         In a strange city, all alone,      0
2                          Far down within the dim west      0
3     Where the good, and the bad, and the worst, an...      0
4                      Have gone to their eternal rest.      0
...                                                 ...    ...
1427    To say which buds are leaf and which are bloom.      1
1428             A feather-hammer gives a double knock.      1
1429              This Eden day is done at two o'clock.      1
1430         An hour of winter day might seem too short      1
1431   To make it worth life's while to wake and sport.      1

[2154 rows x 2 columns]

In [92]:
input_files.rename(columns = {0:'text'}, inplace = True)

In [93]:
input_files

                                                   text  label
0                LO! Death hath rear'd himself a throne      0
1                         In a strange city, all alone,      0
2                          Far down within the dim west      0
3     Where the good, and the bad, and the worst, an...      0
4                      Have gone to their eternal rest.      0
...                                                 ...    ...
1427    To say which buds are leaf and which are bloom.      1
1428             A feather-hammer gives a double knock.      1
1429              This Eden day is done at two o'clock.      1
1430         An hour of winter day might seem too short      1
1431   To make it worth life's while to wake and sport.      1

[2154 rows x 2 columns]