In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('best-selling-manga.csv')
df.head(3)

,Manga series,Author(s),Publisher,Demographic,No. of collected volumes,Serialized,Approximate sales in million(s),Average sales per volume in million(s)
0,One Piece,Eiichiro Oda,Shueisha,Shōnen,104,1997–present,516.6,4.97
1,Golgo 13,"Takao Saito, Saito Production",Shogakukan,Seinen,207,1968–present,300.0,1.45
2,Case Closed / Detective Conan,Gosho Aoyama,Shogakukan,Shōnen,102,1994–present,270.0,2.65

In [4]:
df1=df.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Manga series                            187 non-null    object
 1   Author(s)                               187 non-null    object
 2   Publisher                               187 non-null    object
 3   Demographic                             187 non-null    object
 4   No. of collected volumes                187 non-null    int64
 5   Serialized                              187 non-null    object
 6   Approximate sales in million(s)         187 non-null    float64
 7   Average sales per volume in million(s)  187 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 11.8+ KB

In [6]:
df['Author(s)'].value_counts()

Author(s)
Rumiko Takahashi        4
Tsukasa Hojo            3
Naoki Urasawa           3
Mitsuru Adachi          3
Osamu Tezuka            3
                       ..
Tochi Ueyama            1
Chieko Hosokawa         1
Hiroyuki Nishimori      1
Fuse, Taiki Kawakami    1
Yoshihiro Takahashi     1
Name: count, Length: 164, dtype: int64

In [7]:
df['Publisher'].value_counts()

Publisher
Shueisha                                     65
Kodansha                                     50
Shogakukan                                   32
Akita Shoten                                 11
Hakusensha                                    7
Nihon Bungeisha                               3
Futabasha                                     2
Shōnen Gahōsha                                2
Square Enix                                   2
Kadokawa Shoten                               2
Ushio Shuppansha                              1
Enix (2001–2003), Square Enix (2003–2010)     1
Kobunsha                                      1
Jitsugyo no Nihon Sha                         1
Shueisha/Kodansha                             1
Shinchosha, Tokuma Shoten                     1
Square Enix, Ichijinsha                       1
Gakken                                        1
Enix                                          1
Ushio Shuppan                                 1
Shueisha/Shogakukan/Leed                      1
Name: count, dtype: int64

In [8]:
df['No. of collected volumes'].value_counts()

No. of collected volumes
18     8
37     8
28     7
23     7
22     6
      ..
163    1
40     1
17     1
105    1
8      1
Name: count, Length: 83, dtype: int64

In [9]:
df['Serialized'].value_counts()

Serialized
1997–present             4
2018–present             3
1989–present             3
1991–1997                3
1990–1996                3
                        ..
1990–2003                1
1986–1990                1
2000–2009 (on hiatus)    1
1996–2008                1
1999–2009                1
Name: count, Length: 154, dtype: int64

In [10]:
df['Serialized']=df['Serialized'].astype(str)
df['serial_start_year']=0
df['serial_end_year']=0

In [11]:
df['Serialized'][0][0:4]

'1997'

In [12]:
df['Serialized'][100][5:9]

'2019'

In [13]:
for i in range(0,186):
    df['serial_start_year'][i]=df['Serialized'][i][0:4]
    df['serial_end_year'][i]=df['Serialized'][i][5:9]

C:\Users\91738\AppData\Local\Temp\ipykernel_3084\1823131955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['serial_start_year'][i]=df['Serialized'][i][0:4]
C:\Users\91738\AppData\Local\Temp\ipykernel_3084\1823131955.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['serial_end_year'][i]=df['Serialized'][i][5:9]

In [14]:
df.head(3)

,Manga series,Author(s),Publisher,Demographic,No. of collected volumes,Serialized,Approximate sales in million(s),Average sales per volume in million(s),serial_start_year,serial_end_year
0,One Piece,Eiichiro Oda,Shueisha,Shōnen,104,1997–present,516.6,4.97,1997,pres
1,Golgo 13,"Takao Saito, Saito Production",Shogakukan,Seinen,207,1968–present,300.0,1.45,1968,pres
2,Case Closed / Detective Conan,Gosho Aoyama,Shogakukan,Shōnen,102,1994–present,270.0,2.65,1994,pres

In [15]:
df['serial_end_year'].value_counts()

serial_end_year
pres    42
1996    11
2014     7
2019     7
2016     6
1997     6
2022     6
2017     5
2013     5
2003     5
2018     5
2002     5
1999     5
2020     5
2012     4
1987     4
1994     4
2009     4
1984     4
2004     3
2006     3
1993     3
2001     3
1973     3
1991     3
1983     3
1981     2
2021     2
2005     2
1995     2
1986     2
1988     2
2008     2
1974     1
1998     1
1990     1
2015     1
1980     1
1968     1
2007     1
2010     1
2000     1
1985     1
1982     1
0        1
Name: count, dtype: int64

In [16]:
for i in range (0,186):
    if df['serial_end_year'][i]=='pres':
        df['serial_end_year'][i]=2024

In [17]:
df['serial_end_year']=df['serial_end_year'].astype('float32')
df['serial_start_year']=df['serial_start_year'].astype('float32')

In [18]:
df['serial_run']=df['serial_end_year']-df['serial_start_year']

In [19]:
df.drop(['Manga series','Serialized','Average sales per volume in million(s)'],axis=1,inplace=True)

In [20]:
df.head(2)

,Author(s),Publisher,Demographic,No. of collected volumes,Approximate sales in million(s),serial_start_year,serial_end_year,serial_run
0,Eiichiro Oda,Shueisha,Shōnen,104,516.6,1997.0,2024.0,27.0
1,"Takao Saito, Saito Production",Shogakukan,Seinen,207,300.0,1968.0,2024.0,56.0

In [21]:
df['Demographic'].value_counts()

Demographic
Shōnen                101
Seinen                 50
Shōjo                  21
Shōnen/Seinen           6
Children                4
Josei                   2
—                       1
Shōjo/Josei             1
Shōnen/shōjo/Josei      1
Name: count, dtype: int64

In [22]:
df=pd.get_dummies(df,dtype=float,drop_first=True)

In [23]:
df.head(3)

,No. of collected volumes,Approximate sales in million(s),serial_start_year,serial_end_year,serial_run,Author(s)_Aka Akasaka,Author(s)_Akira Amano,Author(s)_Akira Miyashita,Author(s)_Akira Toriyama,Author(s)_Atsushi Kase,...,Publisher_Ushio Shuppan,Publisher_Ushio Shuppansha,Demographic_Josei,Demographic_Seinen,Demographic_Shōjo,Demographic_Shōjo/Josei,Demographic_Shōnen,Demographic_Shōnen/Seinen,Demographic_Shōnen/shōjo/Josei,Demographic_—
0,104,516.6,1997.0,2024.0,27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,207,300.0,1968.0,2024.0,56.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,102,270.0,1994.0,2024.0,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [24]:
df.dropna(inplace=True)

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression

In [26]:
x=df.drop('Approximate sales in million(s)',axis=1)
y=df['Approximate sales in million(s)']

In [27]:
y

0      516.6
1      300.0
2      270.0
3      260.0
4      250.0
       ...
182     20.0
183     20.0
184     20.0
185     20.0
186     20.0
Name: Approximate sales in million(s), Length: 187, dtype: float64

In [28]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [29]:
x_scaled=pd.DataFrame(x_scaled,columns=x.columns)
x_scaled

,No. of collected volumes,serial_start_year,serial_end_year,serial_run,Author(s)_Aka Akasaka,Author(s)_Akira Amano,Author(s)_Akira Miyashita,Author(s)_Akira Toriyama,Author(s)_Atsushi Kase,Author(s)_Atsushi Ohkubo,...,Publisher_Ushio Shuppan,Publisher_Ushio Shuppansha,Demographic_Josei,Demographic_Seinen,Demographic_Shōjo,Demographic_Shōjo/Josei,Demographic_Shōnen,Demographic_Shōnen/Seinen,Demographic_Shōnen/shōjo/Josei,Demographic_—
0,1.675615,0.101913,0.183488,1.028516,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,-0.355677,-0.073324,0.922760,-0.182069,-0.073324,-0.073324
1,4.653746,-0.096819,0.183488,3.487795,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,1.655295,-0.355677,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
2,1.617787,0.081354,0.183488,1.282924,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,-0.355677,-0.073324,0.922760,-0.182069,-0.073324,-0.073324
3,-0.117047,0.012826,-0.013592,-0.328327,-0.073324,-0.073324,-0.073324,9.617692,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,-0.355677,-0.073324,0.922760,-0.182069,-0.073324,-0.073324
4,-0.030305,-0.089966,-0.006796,1.028516,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,-0.355677,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,-0.695325,-0.041996,-0.101938,-0.752341,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,2.811541,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
183,-0.724239,-0.041996,-0.108734,-0.837143,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,2.811541,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
184,-0.955550,-0.014585,-0.027183,-0.158722,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,-0.604122,2.811541,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
185,-0.348358,0.067649,0.027183,-0.497933,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,1.655295,-0.355677,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324
186,0.403403,-13.583167,-13.571337,-1.261157,-0.073324,-0.073324,-0.073324,-0.103975,-0.073324,-0.073324,...,-0.073324,-0.073324,-0.103975,1.655295,-0.355677,-0.073324,-1.083706,-0.182069,-0.073324,-0.073324

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,train_size=0.7,random_state=42)

In [31]:
log_reg=LogisticRegression()
lin_reg=LinearRegression()
lin_reg.fit(x_train,y_train)

LinearRegression()

In [32]:
y_pred=lin_reg.predict(x_test)

In [33]:
from sklearn.metrics import mean_squared_error

In [34]:
mean_squared_error(y_test,y_pred)

2.0831359407676184e+26

In [35]:
'''
Write a python class that will contain the following:
A function that takes the mangaseries as input, checks which demographics the it belongs to, and returns approx sales
'''

'\nWrite a python class that will contain the following:\nA function that takes the passenger name as input, checks which booking class the passenger belongs to, and returns the average delay time\n'

In [36]:
df1.head(3)

,Manga series,Author(s),Publisher,Demographic,No. of collected volumes,Serialized,Approximate sales in million(s),Average sales per volume in million(s)
0,One Piece,Eiichiro Oda,Shueisha,Shōnen,104,1997–present,516.6,4.97
1,Golgo 13,"Takao Saito, Saito Production",Shogakukan,Seinen,207,1968–present,300.0,1.45
2,Case Closed / Detective Conan,Gosho Aoyama,Shogakukan,Shōnen,102,1994–present,270.0,2.65

In [38]:
class manga:
    def __init__(self,data,manga):
        self.data=data
        self.manga=manga
    def check(self):
        a=self.data[self.data['Manga series']==self.manga]['Approximate sales in million(s)']
        print('sales in million:',a)


m1=manga(df1,'One Piece')
m1.check()

sales in million: 0    516.6
Name: Approximate sales in million(s), dtype: float64

In [40]:
'''
 Write a python class that will contain the following:
A function that will create a new column - serialyearrun, that will contain the  difference between start year and current year
'''

'\n Write a python class that will contain the following:\nA function that will create a new column - serialyearrun, that will contain the  difference between start year and current year\n'

In [44]:
class manga:
    def __init__(self,data):
        self.data=data
    def check(self):
        self.data['serial_run']=self.data['serial_start_year']-self.data['serial_end_year']
        #print('sales in million:',a)
        return self.data


m1=manga(df)
df3=m1.check()
df3

,No. of collected volumes,Approximate sales in million(s),serial_start_year,serial_end_year,serial_run,Author(s)_Aka Akasaka,Author(s)_Akira Amano,Author(s)_Akira Miyashita,Author(s)_Akira Toriyama,Author(s)_Atsushi Kase,...,Publisher_Ushio Shuppan,Publisher_Ushio Shuppansha,Demographic_Josei,Demographic_Seinen,Demographic_Shōjo,Demographic_Shōjo/Josei,Demographic_Shōnen,Demographic_Shōnen/Seinen,Demographic_Shōnen/shōjo/Josei,Demographic_—
0,104,516.6,1997.0,2024.0,-27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,207,300.0,1968.0,2024.0,-56.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,102,270.0,1994.0,2024.0,-30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,42,260.0,1984.0,1995.0,-11.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,45,250.0,1969.0,1996.0,-27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,22,20.0,1976.0,1982.0,-6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
183,21,20.0,1976.0,1981.0,-5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
184,13,20.0,1980.0,1993.0,-13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
185,34,20.0,1992.0,2001.0,-9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
186,60,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0