In [53]:
import pandas as pd
import numpy as np
import seaborn as sns

In [54]:
try:
    df=pd.read_csv('F:\my data science\ml_prac\myexperiments\datasets\sleeplifestyle.csv')
except:
    df=pd.read_csv(r'E:\Users\anshul\Desktop\ml_prac\datasets\sleeplifestyle.csv')

df.head(3)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN

In [55]:
df.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [56]:
df['Sleep Disorder']=df['Sleep Disorder'].fillna(0)

In [57]:
df.head(3)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,0
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0

In [58]:
df.drop('Person ID',inplace=True,axis=1)

In [59]:
df['good_sleep']=''

In [60]:
for i in range(0,len(df)):
    if df['Quality of Sleep'][i]>6:
        df.loc[i,'good_sleep']=1
    else:
        df.loc[i,'good_sleep']=0

In [61]:
df['good_sleep'].value_counts()

good_sleep
1    257
0    117
Name: count, dtype: int64

In [68]:
df

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Gender_Male,Occupation_Doctor,Occupation_Engineer,...,Blood Pressure_132/87,Blood Pressure_135/88,Blood Pressure_135/90,Blood Pressure_139/91,Blood Pressure_140/90,Blood Pressure_140/95,Blood Pressure_142/92,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea,good_sleep_1
0,27,6.1,6,42,6,77,4200,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28,6.2,6,60,8,75,10000,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28,6.2,6,60,8,75,10000,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28,5.9,4,30,8,85,3000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,28,5.9,4,30,8,85,3000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,59,8.1,9,75,3,68,7000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
370,59,8.0,9,75,3,68,7000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
371,59,8.1,9,75,3,68,7000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
372,59,8.1,9,75,3,68,7000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
373,59,8.1,9,75,3,68,7000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0

In [62]:
df1=df.copy()

In [65]:
df=pd.get_dummies(df,dtype=float,drop_first=True)

In [72]:
from sklearn.feature_selection import SelectKBest,chi2,VarianceThreshold

In [73]:
chi2_features=SelectKBest(chi2,k=30)
x_best_features=chi2_features.fit_transform(df.drop('good_sleep_1',axis=1),df['good_sleep_1'])

In [74]:
print('shape:',df.drop('good_sleep_1',axis=1).shape[1])
print('reduced_shape:',x_best_features.shape[1])

shape: 47
reduced_shape: 30

In [76]:
vt=VarianceThreshold(threshold=0.95)
vt.fit(df.drop('good_sleep_1',axis=1))
vt.get_support()

array([ True, False,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [78]:
vt.get_feature_names_out()

array(['Age', 'Quality of Sleep', 'Physical Activity Level',
       'Stress Level', 'Heart Rate', 'Daily Steps'], dtype=object)

In [88]:
pd.DataFrame(df.loc[:,('Age', 'Quality of Sleep', 'Physical Activity Level','Stress Level', 'Heart Rate', 'Daily Steps')],df['good_sleep_1']).reset_index()

,good_sleep_1,Age,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
0,0.0,27,6,42,6,77,4200
1,0.0,27,6,42,6,77,4200
2,0.0,27,6,42,6,77,4200
3,0.0,27,6,42,6,77,4200
4,0.0,27,6,42,6,77,4200
...,...,...,...,...,...,...,...
369,1.0,28,6,60,8,75,10000
370,1.0,28,6,60,8,75,10000
371,1.0,28,6,60,8,75,10000
372,1.0,28,6,60,8,75,10000
373,1.0,28,6,60,8,75,10000