In [813]:
import numpy as np
import pandas as pd

In [814]:
df=pd.read_csv(r'E:\Users\anshul\Desktop\ml_prac\datasets\googleplaystore.csv')
df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [815]:
df1=df.copy()

In [816]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [817]:
df.dropna(inplace=True)

In [818]:
df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [819]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [820]:
df['Last Updated'].value_counts()

Last Updated
August 3, 2018       319
August 2, 2018       284
July 31, 2018        279
August 1, 2018       275
July 30, 2018        199
                    ...
July 19, 2015          1
March 16, 2015         1
July 6, 2014           1
December 17, 2015      1
March 23, 2014         1
Name: count, Length: 1299, dtype: int64

In [821]:
df['Current Ver'].value_counts()

Current Ver
Varies with device    1415
1.0                    458
1.1                    194
1.2                    126
1.3                    120
                      ...
2.9.10                   1
3.18.5                   1
1.3.A.2.9                1
9.9.1.1910               1
0.3.4                    1
Name: count, Length: 2638, dtype: int64

In [822]:
df['Android Ver'].value_counts()

Android Ver
4.1 and up            2059
Varies with device    1319
4.0.3 and up          1240
4.0 and up            1129
4.4 and up             875
2.3 and up             582
5.0 and up             535
4.2 and up             337
2.3.3 and up           240
3.0 and up             211
2.2 and up             208
4.3 and up             207
2.1 and up             113
1.6 and up              87
6.0 and up              48
7.0 and up              41
3.2 and up              31
2.0 and up              27
5.1 and up              18
1.5 and up              15
3.1 and up               8
2.0.1 and up             7
4.4W and up              6
8.0 and up               5
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
Name: count, dtype: int64

In [823]:
df['Genres'].value_counts()

Genres
Tools                      732
Entertainment              533
Education                  468
Action                     358
Productivity               351
                          ...
Parenting;Brain Games        1
Card;Brain Games             1
Tools;Education              1
Entertainment;Education      1
Strategy;Creativity          1
Name: count, Length: 115, dtype: int64

In [824]:
df['Content Rating'].value_counts()

Content Rating
Everyone           7414
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: count, dtype: int64

In [825]:
df['Category'].value_counts()

Category
FAMILY                 1746
GAME                   1097
TOOLS                   733
PRODUCTIVITY            351
MEDICAL                 350
COMMUNICATION           328
FINANCE                 323
SPORTS                  319
PHOTOGRAPHY             317
LIFESTYLE               314
PERSONALIZATION         312
BUSINESS                303
HEALTH_AND_FITNESS      297
SOCIAL                  259
SHOPPING                238
NEWS_AND_MAGAZINES      233
TRAVEL_AND_LOCAL        226
DATING                  195
BOOKS_AND_REFERENCE     178
VIDEO_PLAYERS           160
EDUCATION               155
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     124
FOOD_AND_DRINK          109
HOUSE_AND_HOME           76
WEATHER                  75
AUTO_AND_VEHICLES        73
LIBRARIES_AND_DEMO       64
ART_AND_DESIGN           61
COMICS                   58
PARENTING                50
EVENTS                   45
BEAUTY                   42
Name: count, dtype: int64

In [826]:
df['Rating'].value_counts()

Rating
4.4    1108
4.3    1076
4.5    1037
4.2     951
4.6     823
4.1     707
4.0     567
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      63
2.9      45
2.8      42
2.7      25
2.6      25
2.5      21
2.3      20
2.4      19
1.0      16
2.2      14
1.9      13
2.0      12
1.7       8
1.8       8
2.1       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: count, dtype: int64

In [827]:
df['Reviews'].value_counts()

Reviews
2         83
3         78
5         74
4         74
1         67
          ..
666521     1
342912     1
4272       1
5517       1
398307     1
Name: count, Length: 5990, dtype: int64

In [828]:
df['Size'].value_counts()

Size
Varies with device    1637
14M                    165
12M                    161
15M                    159
11M                    159
                      ...
383k                     1
454k                     1
812k                     1
442k                     1
619k                     1
Name: count, Length: 413, dtype: int64

In [829]:
df['Installs'].value_counts()

Installs
1,000,000+        1576
10,000,000+       1252
100,000+          1150
10,000+           1009
5,000,000+         752
1,000+             712
500,000+           537
50,000+            466
5,000+             431
100,000,000+       409
100+               309
50,000,000+        289
500+               201
500,000,000+        72
10+                 69
1,000,000,000+      58
50+                 56
5+                   9
1+                   3
Name: count, dtype: int64

In [830]:
df['Type'].value_counts()

Type
Free    8715
Paid     645
Name: count, dtype: int64

In [831]:
df['Price'].value_counts()

Price
0          8715
$2.99       114
$0.99       106
$4.99        70
$1.99        59
           ...
$1.29         1
$299.99       1
$379.99       1
$37.99        1
$1.20         1
Name: count, Length: 73, dtype: int64

In [832]:
df['total_install']=''

In [833]:
df['Installs']=df['Installs'].astype('string')

In [834]:
df['total_install']=df.Installs.str.split('+',expand=True)[0]

In [835]:
df.drop('Installs',inplace=True,axis=1)

In [836]:
df.drop('App',inplace=True,axis=1)

In [837]:
df.drop('Current Ver',inplace=True,axis=1)

In [838]:
df['last_updated']=df['Last Updated'].str.split(expand=True)[2]

In [839]:
df.drop('Last Updated',inplace=True,axis=1)

In [840]:
df.drop('Size',inplace=True,axis=1)

In [841]:
df.head(3)

,Category,Rating,Reviews,Type,Price,Content Rating,Genres,Android Ver,total_install,last_updated
0,ART_AND_DESIGN,4.1,159,Free,0,Everyone,Art & Design,4.0.3 and up,"10,000",2018
1,ART_AND_DESIGN,3.9,967,Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up,"500,000",2018
2,ART_AND_DESIGN,4.7,87510,Free,0,Everyone,Art & Design,4.0.3 and up,"5,000,000",2018

In [842]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9360 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        9360 non-null   object
 1   Rating          9360 non-null   float64
 2   Reviews         9360 non-null   object
 3   Type            9360 non-null   object
 4   Price           9360 non-null   object
 5   Content Rating  9360 non-null   object
 6   Genres          9360 non-null   object
 7   Android Ver     9360 non-null   object
 8   total_install   9360 non-null   string
 9   last_updated    9360 non-null   object
dtypes: float64(1), object(8), string(1)
memory usage: 804.4+ KB

In [843]:
df['total_install'].value_counts()

total_install
1,000,000        1576
10,000,000       1252
100,000          1150
10,000           1009
5,000,000         752
1,000             712
500,000           537
50,000            466
5,000             431
100,000,000       409
100               309
50,000,000        289
500               201
500,000,000        72
10                 69
1,000,000,000      58
50                 56
5                   9
1                   3
Name: count, dtype: Int64

In [844]:
df['total_install']=df['total_install'].str.replace(',','')

In [845]:
df['total_install'].max()

'500000000'

In [846]:
df['total_install'].min()

'1'

In [847]:
df['total_install']=df['total_install'].astype('int64')

In [848]:
df['total_install'] = pd.cut(x=df['total_install'],bins=[10000,100000, 1000000,10000000,100000000],labels=['0-10000', '10000-100000', '100000-1000000','1000000-above'])

In [849]:
df['total_install'].value_counts()

total_install
10000-100000      2113
100000-1000000    2004
0-10000           1616
1000000-above      698
Name: count, dtype: int64

In [850]:
df.head(3)

,Category,Rating,Reviews,Type,Price,Content Rating,Genres,Android Ver,total_install,last_updated
0,ART_AND_DESIGN,4.1,159,Free,0,Everyone,Art & Design,4.0.3 and up,NaN,2018
1,ART_AND_DESIGN,3.9,967,Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up,10000-100000,2018
2,ART_AND_DESIGN,4.7,87510,Free,0,Everyone,Art & Design,4.0.3 and up,100000-1000000,2018

In [851]:
df['Reviews']=df['Reviews'].astype('int64')

In [852]:
df['Rating']=df['Rating'].astype('int64')
df['Rating']=df['Rating'].astype(object)

In [853]:
df.head(3)

,Category,Rating,Reviews,Type,Price,Content Rating,Genres,Android Ver,total_install,last_updated
0,ART_AND_DESIGN,4,159,Free,0,Everyone,Art & Design,4.0.3 and up,NaN,2018
1,ART_AND_DESIGN,3,967,Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up,10000-100000,2018
2,ART_AND_DESIGN,4,87510,Free,0,Everyone,Art & Design,4.0.3 and up,100000-1000000,2018

In [854]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9360 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        9360 non-null   object
 1   Rating          9360 non-null   object
 2   Reviews         9360 non-null   int64
 3   Type            9360 non-null   object
 4   Price           9360 non-null   object
 5   Content Rating  9360 non-null   object
 6   Genres          9360 non-null   object
 7   Android Ver     9360 non-null   object
 8   total_install   6431 non-null   category
 9   last_updated    9360 non-null   object
dtypes: category(1), int64(1), object(8)
memory usage: 740.6+ KB

In [855]:
df2=df.loc[:500,]
df2

,Category,Rating,Reviews,Type,Price,Content Rating,Genres,Android Ver,total_install,last_updated
0,ART_AND_DESIGN,4,159,Free,0,Everyone,Art & Design,4.0.3 and up,NaN,2018
1,ART_AND_DESIGN,3,967,Free,0,Everyone,Art & Design;Pretend Play,4.0.3 and up,10000-100000,2018
2,ART_AND_DESIGN,4,87510,Free,0,Everyone,Art & Design,4.0.3 and up,100000-1000000,2018
3,ART_AND_DESIGN,4,215644,Free,0,Teen,Art & Design,4.2 and up,1000000-above,2018
4,ART_AND_DESIGN,4,967,Free,0,Everyone,Art & Design;Creativity,4.4 and up,0-10000,2018
...,...,...,...,...,...,...,...,...,...,...
496,DATING,3,10212,Free,0,Mature 17+,Dating,4.4 and up,10000-100000,2018
497,DATING,4,37053,Free,0,Mature 17+,Dating,4.1 and up,10000-100000,2018
498,DATING,4,667,Free,0,Mature 17+,Dating,4.1 and up,NaN,2018
499,DATING,3,13202,Free,0,Mature 17+,Dating,4.1 and up,10000-100000,2018
500,DATING,4,28671,Free,0,Mature 17+,Dating,Varies with device,10000-100000,2018

In [856]:
y=df2['Reviews']
x=df2.drop('Reviews',axis=1)

In [857]:
y

0         159
1         967
2       87510
3      215644
4         967
        ...
496     10212
497     37053
498       667
499     13202
500     28671
Name: Reviews, Length: 485, dtype: int64

In [858]:
x=pd.get_dummies(x,dtype=float,drop_first=True)

In [859]:
from sklearn.preprocessing import StandardScaler

In [860]:
scaler=StandardScaler()

In [861]:
from sklearn.model_selection import train_test_split

In [862]:
x_scaled=pd.DataFrame(scaler.fit_transform(x),columns=x.columns)

In [863]:
x_scaled=np.array(x_scaled)

In [864]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,train_size=0.7,random_state=42)

In [865]:

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [866]:
from sklearn.linear_model import LogisticRegression
rf=LogisticRegression()
rf.fit(x_train,y_train)

C:\Users\anshul\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [867]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [868]:
y_pred=rf.predict(x_test)

In [869]:
from sklearn.metrics import mean_squared_error ,f1_score

In [870]:
mean_squared_error(y_test,y_pred)

37967689275956.47