In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/Flight_data.csv')

In [ ]:
df.head(4)

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.27581,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.27581,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.72111,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True
3,Lake Gracefurt,Jamesberg,2023-06-13 20:53:09,-0.94299,72,2965,Christina Sanchez,Economy,Gold,BNE-SYD,318.903167,286.301632,-0.520139,MEL,LAX,1.129291,284,True

In [ ]:
df['Frequent Flyer Status'].value_count()

In [ ]:
df.describe()

,Flight Duration,Delay Minutes,Customer ID,Ticket Price,Competitor Price,Demand,Profitability,Loyalty Points
count,1.000000e+02,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000,100.000000
mean,-1.387779e-16,57.900000,5164.630000,303.337169,292.867827,-1.776357e-16,1.031524,2390.420000
std,1.005038e+00,33.195929,2626.451593,119.160993,113.418380,1.005038e+00,0.273866,1522.693017
min,-1.497691e+00,1.000000,1010.000000,114.529016,93.418926,-1.660900e+00,0.515533,45.000000
25%,-9.429903e-01,33.750000,3090.500000,191.771980,208.760294,-8.356685e-01,0.869040,1063.500000
50%,1.664101e-01,57.000000,4922.000000,297.944962,278.177555,-5.897980e-02,1.033363,2178.000000
75%,8.597853e-01,81.500000,7202.750000,412.563311,390.125772,6.570301e-01,1.221841,3818.500000
max,1.275810e+00,120.000000,9861.000000,498.549369,479.832444,1.979828e+00,1.492505,4950.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Departure City         100 non-null    object
 1   Arrival City           100 non-null    object
 2   Departure Date         100 non-null    object
 3   Flight Duration        100 non-null    float64
 4   Delay Minutes          100 non-null    int64
 5   Customer ID            100 non-null    int64
 6   Name                   100 non-null    object
 7   Booking Class          100 non-null    object
 8   Frequent Flyer Status  100 non-null    object
 9   Route                  100 non-null    object
 10  Ticket Price           100 non-null    float64
 11  Competitor Price       100 non-null    float64
 12  Demand                 100 non-null    float64
 13  Origin                 100 non-null    object
 14  Destination            100 non-null    object
 15  Profitability          100 non-null    float64
 16  Loyalty Points         100 non-null    int64
 17  Churned                100 non-null    bool
dtypes: bool(1), float64(5), int64(3), object(9)
memory usage: 13.5+ KB

In [ ]:
df.columns

Index(['Departure City', 'Arrival City', 'Departure Date', 'Flight Duration',
       'Delay Minutes', 'Customer ID', 'Name', 'Booking Class',
       'Frequent Flyer Status', 'Route', 'Ticket Price', 'Competitor Price',
       'Demand', 'Origin', 'Destination', 'Profitability', 'Loyalty Points',
       'Churned'],
      dtype='object')

In [ ]:
df1=df.copy()

In [ ]:
df['Name'].value_counts()

Daniel Oliver         1
Jennifer Hernandez    1
Christopher Meyer     1
Peter Simmons         1
Adrian Palmer         1
                     ..
Kimberly Sullivan     1
Matthew Bird          1
Penny Sanchez         1
Theodore Chang PhD    1
Jeffrey Turner        1
Name: Name, Length: 100, dtype: int64

In [ ]:
'''
Write a python class that will contain the following:
A function that takes the passenger name as input, checks which booking class the passenger belongs to, and returns the average delay time
'''

In [ ]:
class Airline:
    def __init__(self, df):
        self.df = df

    def get_delay_time(self,name):
        booking_class = self.df[self.df["Name"] == name]["Booking Class"][0]
        print(booking_class)
        delay_time = self.df[self.df["Name"] == name]["Delay Minutes"][0]
        #print(delay_time)
        return delay_time

a1 = Airline(df)
print(a1.get_delay_time("Daniel Oliver"))

Business
120

In [ ]:
'''
 Write a python class that will contain the following:
A function that will create a new column - Price difference, that will contain the price difference between the actual fare
and the competitor fare for only the Gold status passengers.
'''

In [ ]:
class addcol:
    def __init__(self, df):
        self.df = df

    def pricediff(self):
      #self.df['Price difference']=0
      for i in self.df['Frequent Flyer Status']:
        print(i)
        if i =='Gold':
          #print(0)
          self.df['Price difference']=self.df['Ticket Price']-self.df['Competitor Price']
        #else :
          #print('0')

      return self.df

a2=addcol(df1)
print(a2.pricediff())

In [ ]:
'''
Write a python class that will contain the following, (NOTE- Create a copy of the data to perform the following):
A function that provides statistics of passengers that churned having loyalty points below than the average only from the gold status passengers.
'''

In [ ]:
class stats_p:
    def __init__(self, df):
        self.df = df

    def status(self):
      mean_gold=self.df[self.df['Frequent Flyer Status']=='Gold']['Loyalty Points'].mean()
      #print(mean_gold)
      st=self.df[(self.df['Churned']==True) & (self.df['Loyalty Points']< mean_gold)].describe()
      return st
      #return 0


a3=stats_p(df1)
print(a3.status())

       Flight Duration  Delay Minutes  Customer ID  Ticket Price  \
count        24.000000      24.000000    24.000000     24.000000
mean         -0.110940      63.625000  4469.500000    284.505167
std           1.047373      36.888566  2580.677801    127.857763
min          -1.497691       7.000000  1010.000000    114.529016
25%          -1.081665      30.250000  2911.500000    149.017035
50%           0.166410      68.500000  3552.000000    262.263786
75%           0.721110      96.500000  6307.750000    397.900521
max           1.275810     117.000000  9704.000000    488.013472

       Competitor Price     Demand  Profitability  Loyalty Points  \
count         24.000000  24.000000      24.000000       24.000000
mean         309.748382  -0.318887       0.929721      993.416667
std          113.421053   0.956521       0.264200      515.509365
min          109.246693  -1.660900       0.531339      112.000000
25%          204.880040  -1.017705       0.725476      574.250000
50%          287.246795  -0.410917       0.912057     1062.000000
75%          392.119364   0.335432       1.058293     1395.500000
max          475.401269   1.979828       1.483030     1893.000000

       Price difference
count         24.000000
mean         -25.243215
std          158.393962
min         -342.171439
25%         -105.588020
50%          -13.639290
75%           33.481478
max          269.764116

In [ ]:
'''
) Write a python class that will contain the following, :
A function that returns the number of flights originating from a given destination taken from input, that was subject to higher delay times than the average delay time
'''

In [ ]:

class flight:
    def __init__(self, df):
        self.df = df

    def delayed(self,city):
      delay=self.df['Delay Minutes'].mean()
      city=city
      st=self.df[(self.df['Delay Minutes']>delay) & (self.df['Departure City']==city)].count()[0]
      return st


a4=flight(df1)
print(a4.delayed('New Brent'))

0

In [ ]:
'''
5) Write a python class that will contain the following, (NOTE- Create a copy of the data to perform the following):
A function that will create two new columns, first name, and Last name, and delete the original name column.
'''

In [ ]:
class newcol:
    def __init__(self, df):
        self.df = df

    def create2(self):
      self.df['first name']=self.df['Name'].str.split(expand=True)[0]
      self.df['last name']=self.df['Name'].str.split(expand=True)[1]
      self.df.drop('Name',axis=1,inplace=True)
      return self.df


a5=newcol(df1)
print(a5.create2())

In [ ]:
'''
Let's suppose 5 years ago the average delay time for the business class was 45 Minutes.
Has it changed now? (perform hypothesis testing to support your claim)
'''

"\nLet's suppose 5 years ago the average delay time for the business class was 45 Minutes. \nHas it changed now? (perform hypothesis testing to support your claim)\n"

In [ ]:
print('null hypothesis :The average delay time for business class is 45 minutes ')
print('alternative hypothesis : The average delay time for business class is not 45 minutes')
print('p=0.05')
p=0.05
import scipy.stats as stats
data=df['Delay Minutes']

#perform one sample t-test
a=stats.ttest_1samp(a=data, popmean=45)[1]
print('-----------------')
if a>p:
  print('fail to reject the null hypothesis of the test.')
else:
  print('reject the null hypothesis')

null hypothesis :The average delay time for business class is 45 minutes
alternative hypothesis : The average delay time for business class is not 45 minutes
p=0.05
reject the null hypothesis

In [ ]:
'''
Using python programming, calculate the probability of a business class passenger in the gold status getting delayed more than 60 minutes

'''

In [ ]:
a=df[(df['Frequent Flyer Status']=='Gold')].count()[0]
b=df[(df['Frequent Flyer Status']=='Gold') & (df['Delay Minutes']>60)].count()[0]
prob=b/a
print(prob)

0.39473684210526316

In [ ]:
'''
Create a machine learning model that will predict if the passenger will churn or not. (we will use the accuracy score for evaluation of the model.)
'''

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
df2=df.copy()

In [ ]:
df.head(3)

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.27581,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.27581,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.72111,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True

In [ ]:
df.drop(['Departure City','Arrival City','Departure Date','Customer ID','Route'],axis=1,inplace=True)

In [ ]:
df.drop(['Name'],axis=1,inplace=True)

In [ ]:
df.head(3)

,Flight Duration,Delay Minutes,Booking Class,Frequent Flyer Status,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,1.27581,120,Business,Gold,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,1.27581,35,Economy,Platinum,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,0.72111,67,Economy,Platinum,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True

In [ ]:
df=pd.get_dummies(df, drop_first=True,dtype=float)

In [ ]:
column=df.columns
column

Index(['Flight Duration', 'Delay Minutes', 'Ticket Price', 'Competitor Price',
       'Demand', 'Profitability', 'Loyalty Points', 'Churned',
       'Booking Class_Economy', 'Booking Class_First',
       'Frequent Flyer Status_Platinum', 'Frequent Flyer Status_Silver',
       'Origin_MEL', 'Origin_SYD', 'Destination_LHR', 'Destination_SIN'],
      dtype='object')

In [ ]:
df4=df.copy()
df=df4
df.drop('Churned',axis=1,inplace=True)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df=scaler.fit_transform(df)
df

array([[ 1.27581045,  1.88013562,  0.56763549, ..., -0.68599434,
         1.33333333, -0.70181003],
       [ 1.27581045, -0.69331893, -1.59246184, ..., -0.68599434,
        -0.75      ,  1.42488702],
       [ 0.72111026,  0.27551102, -1.17126205, ..., -0.68599434,
        -0.75      , -0.70181003],
       ...,
       [ 0.16641006, -1.5107692 ,  1.35746139, ...,  1.45773797,
        -0.75      , -0.70181003],
       [-0.94299033, -1.54104514,  1.29986178, ...,  1.45773797,
         1.33333333, -0.70181003],
       [ 0.72111026, -1.72270075, -1.13616061, ...,  1.45773797,
        -0.75      ,  1.42488702]])

In [ ]:
x=df
y=np.array(df2['Churned'])

In [ ]:
log=LogisticRegression()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [ ]:
log.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred=log.predict(x_test)

In [ ]:
acc = accuracy_score(y_test, y_pred)
print("Logistic Regression model accuracy (in %):", acc*100)

Logistic Regression model accuracy (in %): 66.66666666666666

In [ ]:
'''
Create a machine learning model that will predict the delay time in minutes. (We will use the mean squared error for evaluation.)
'''

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
df5=df4.copy()
df5.head(3)

,Flight Duration,Delay Minutes,Ticket Price,Competitor Price,Demand,Profitability,Loyalty Points,Booking Class_Economy,Booking Class_First,Frequent Flyer Status_Platinum,Frequent Flyer Status_Silver,Origin_MEL,Origin_SYD,Destination_LHR,Destination_SIN
0,1.27581,120,370.638128,382.947396,-0.932755,0.632226,4245,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.27581,35,114.529016,394.583641,-1.005569,1.265026,833,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.72111,67,164.468018,479.832444,1.761384,1.141651,2568,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
y=df5['Delay Minutes']
df5.drop('Delay Minutes',axis=1,inplace=True)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df5=scaler.fit_transform(df5)

In [ ]:
y=np.array(y)
x=df5

In [ ]:
lin=LinearRegression()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [ ]:
lin.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=lin.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_pred,y_test)

1426.9835392273724

In [ ]:
df2.columns

Index(['Departure City', 'Arrival City', 'Departure Date', 'Flight Duration',
       'Delay Minutes', 'Customer ID', 'Name', 'Booking Class',
       'Frequent Flyer Status', 'Route', 'Ticket Price', 'Competitor Price',
       'Demand', 'Origin', 'Destination', 'Profitability', 'Loyalty Points',
       'Churned'],
      dtype='object')

In [ ]:
df2['Frequent Flyer Status'].value_counts()

Platinum    40
Gold        38
Silver      22
Name: Frequent Flyer Status, dtype: int64

In [ ]:
'''
10) Write a SQL query for the following:
Display the Share of customer pool under each Booking class.
'''

In [ ]:
'''
SELECT Booking_Class,
COUNT(Customer_ID) * 100.0 / (SELECT COUNT(*) FROM Flight_data) AS ShareOfCustomerPool
FROM Flight_data
GROUP BY Booking_Class;
'''

In [ ]:
'''
Write a SQL query for the following:
Create a Pivoted table to show the Average Ticket Price of each Frequent_Flyer_Status on each routes

'''

In [ ]:
'''
select *
from
(select
[Frequent_Flyer_Status],
Ticket_Price 
from Flight_data) a

pivot(avg(Ticket_Price) for [Frequent_Flyer_Status] in (Platinum ,Gold ,Silver)) b
'''

In [ ]:
'''
Write a SQL query for the following:
Display the Customer ID who paid more than the average ticket price of their routes.

'''

In [ ]:
'''
SELECT [Customer_ID]
FROM Flight_data
WHERE [Ticket_Price] > (SELECT avg(Ticket_Price) FROM Flight_data WHERE Route = Flight_data.Route)

'''

In [ ]:
'''
) Write a SQL query for the following:
A function that will display Price difference, that will contain the price difference between the actual fare and the competitor fare for only the Gold status passengers.

'''

In [ ]:
'''
create function dbo.returndiff()
returns int(64) 
as
begin
return(
	select
	[Ticket_Price],
	[Competitor_Price],
	[pric_diff]=[Ticket_Price]-[Competitor_Price]
	from Flight_data
	where [Frequent_Flyer_Status] = 'Gold'
)
end;
'''

In [ ]:
'''
 Write a SQL query for the following:
A function that takes the passenger name as input, checks which booking class the passenger belongs to, and returns the average delay time.
'''

In [ ]:
'''
create function dbo.info(@name CHAR(20))
returns varchar(20)
as
begin
return
	(
	select
	delay=(select avg(Delay_Minutes) from Flight_data)
	from Flight_data
	where Name=@name 
	)
end
'''

In [ ]:
'''
stored procedure query

create procedure dbo.orderreport(@begin date,@end date)
as
begin
(

)
end;

exec dbo.orderreport 10.2.23 ,11.4.23

'''