In [1]:
import pandas as pd
import numpy as np

In [2]:
from io import BytesIO

In [5]:
import pyarrow.parquet as pa

In [6]:
table = pa.read_table('test_series.parquet') 
table

pyarrow.Table
series_id: large_string
step: uint32
timestamp: large_string
anglez: float
enmo: float
----
series_id: [["038441c925bb","038441c925bb","038441c925bb","038441c925bb","038441c925bb",...,"0402a003dae9","0402a003dae9","0402a003dae9","0402a003dae9","0402a003dae9"]]
step: [[0,1,2,3,4,...,145,146,147,148,149]]
timestamp: [["2018-08-14T15:30:00-0400","2018-08-14T15:30:05-0400","2018-08-14T15:30:10-0400","2018-08-14T15:30:15-0400","2018-08-14T15:30:20-0400",...,"2018-12-18T12:57:05-0500","2018-12-18T12:57:10-0500","2018-12-18T12:57:15-0500","2018-12-18T12:57:20-0500","2018-12-18T12:57:25-0500"]]
anglez: [[2.6367,2.6368,2.637,2.6368,2.6368,...,-59.6969,-35.6566,-21.5824,-42.616,7.0299]]
enmo: [[0.0217,0.0215,0.0216,0.0213,0.0215,...,0.0601,0.0427,0.0309,0.0328,0.0081]]

In [7]:
table.shape

(450, 5)

In [8]:

df = table.to_pandas() 
# Taking tanspose so the printing dataset will easy. 
df.head().T

,0,1,2,3,4
series_id,038441c925bb,038441c925bb,038441c925bb,038441c925bb,038441c925bb
step,0,1,2,3,4
timestamp,2018-08-14T15:30:00-0400,2018-08-14T15:30:05-0400,2018-08-14T15:30:10-0400,2018-08-14T15:30:15-0400,2018-08-14T15:30:20-0400
anglez,2.6367,2.6368,2.637,2.6368,2.6368
enmo,0.0217,0.0215,0.0216,0.0213,0.0215

In [9]:
df = pd.read_parquet('test_series.parquet') 
df.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215